
<div class="listingPage" *ngIf="!loading"> 
    <section class="cardsList">
        <app-card-item
            *ngFor="let title of titles_Arr"
            [cardTitle]="title"></app-card-item>
    </section>
    
    <section class="tableSection">
        <button (click)="Analyze()">Total</button>
        <table *ngIf="totalDaily.length > 0">
            <thead>
            <td>label</td>
            <td>quantity</td>
            <td>unit</td>
           </thead>
            <tbody>
                <tr *ngFor="let item of totalDaily">
                    <td>{{item?.label}}</td>
                    <td>{{item?.quantity}}</td>
                    <td>{{item?.unit}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<app-loader  [loading]="loading"></app-loader>